.inputs {
  flex: 0.6;
  border: 0.5px solid grey;
  margin-left: 10px;
  height: 100vh;
  border-radius: 5px;
  overflow-y: scroll;
}

@media(max-width:875px){
  .inputs{
    height: fit-content;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}