.navbar {
  padding: 20px;
  background-color: #171717;
  margin: 10px 0;
  display: flex;
}

.navbar > h1 {
  color: #f4f4f4;
  margin-right: 15px;
  cursor: pointer;
  font-size: 18px;
}
.navbar > h1:hover {
  color: grey;
}

.drop{
  color: #f4f4f4;
  cursor: pointer;
}

.drop:hover{
  color: grey;
}

.link_drop{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3vw;
  display: none;
}

@media(max-width:1390px){
  .link_drop{
    display: flex;
  }
}